@page "/UserDetails/{userName}"

@layout EmptyLayout
@using BlazorApp1.Components.Pages.FormValidation.Service
@using BlazorApp1.Components.Pages.FormValidation.Model
@inject IDataService _dataService

<h3>UserDetails</h3>
<h4>@UserData.FullName</h4>
<ul>
			<li>@UserData.Degree</li>
			<li>@UserData.PhoneNumber</li>
			<li>@UserData.Email</li>
			@if (UserData?.Skills != null)
			{
				@foreach (var skill in UserData.Skills)
				{
					<li>@skill</li>
				}
			}

			<li>@UserData.Experience</li>
			<li>@UserData.CTC</li>
			<li>@UserData.DateOfBirth</li>
			<li>@UserData.City</li>
			<img src="@UserData.UploadSign" width="400" height="400" />
			<iframe src="@UserData.UploadResume" width="400" height="400"></iframe>
</ul>

@code {
	[Parameter]
	public string userName { get; set; }
	private FormData UserData;


	protected override void OnInitialized()
	{
		UserData = _dataService.GetDataByName(userName);
	}
}
